body {
  font-family: "Roboto", sans-serif;
  letter-spacing: -0.015em;
  font-size: 18px;
  line-height: 1.67;
  background-color: #fff;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  display: block;
  font-style: normal;
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container, .forms__container, .fabregas__container, .video__container, .gallery__container, .technology__container, .features__container, .header__container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .container, .forms__container, .fabregas__container, .video__container, .gallery__container, .technology__container, .features__container, .header__container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .container, .forms__container, .fabregas__container, .video__container, .gallery__container, .technology__container, .features__container, .header__container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .container, .forms__container, .fabregas__container, .video__container, .gallery__container, .technology__container, .features__container, .header__container {
    max-width: 1280px;
  }
}

.up-button {
  display: none;
  background-image: url("../image/up-button.png");
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 64px;
  height: 64px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  opacity: 0;
  transition: opacity 500ms linear;
  animation-name: animate__wobble;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  cursor: pointer;
  border-radius: 50%;
  border: none;
}

.up-button--visible {
  display: block;
}

@keyframes animate__wobble {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.header {
  background-color: #18a0fb;
  border-bottom: 1px solid #18a0fb;
  box-shadow: 1px 4px 6px 0px rgba(14, 146, 235, 0.16), 0px 4px 4px 0px rgba(14, 146, 235, 0.06), 0px 1px 1px 0px rgba(14, 146, 235, 0.12);
}
@media screen and (max-width: 767px) {
  .header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
  }
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 8px;
  padding-bottom: 8px;
}
@media screen and (max-width: 767px) {
  .header__container {
    margin-left: auto;
    margin-right: auto;
    height: 60px;
  }
}

@media screen and (max-width: 767px) {
  .header__link {
    text-align: center;
    display: block;
    font-size: 30px;
    color: #f3f4fa;
  }
}
@media screen and (min-width: 768px) {
  .header__link {
    text-align: center;
    display: block;
    background-color: #fff;
    padding: 2px 8px;
    margin-left: 10px;
    font-size: 20px;
    color: #2f303a;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header__link:hover, .header__link:focus, .header__link:active {
    background-color: rgba(47, 48, 58, 0.093);
    color: #fff;
  }
}
@media screen and (min-width: 1280px) {
  .header__link {
    min-width: 100px;
  }
}

.mobile-menu__btn {
  display: block;
  z-index: 20;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  fill: currentColor;
  color: black;
  cursor: pointer;
  transition: color 250ms linear;
}
.mobile-menu__btn:hover {
  color: black;
}
.mobile-menu__btn .mobile-menu__icon--close {
  display: none;
}
.mobile-menu__btn .mobile-menu__icon--open {
  display: block;
}
.mobile-menu__btn.is-open .mobile-menu__icon--close {
  display: block;
}
.mobile-menu__btn.is-open .mobile-menu__icon--open {
  display: none;
}
@media screen and (min-width: 768px) {
  .mobile-menu__btn {
    display: none;
  }
}

.header__menu {
  display: none;
}
@media screen and (max-width: 767px) {
  .header__menu {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    padding: 48px 40px;
    background-color: #18a0fb;
    transform: translateX(-100%);
    opacity: 0;
    pointer-events: none;
    transition: transform 250ms linear, opacity 250ms linear;
    overflow-y: scroll;
  }
  .header__menu.is-open {
    opacity: 1;
    pointer-events: all;
    transform: translateX(0%);
  }
}
@media screen and (min-width: 768px) {
  .header__menu {
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  body.modal-open {
    overflow: hidden;
  }
}

.features {
  padding-top: 40px;
  padding-bottom: 60px;
}

.features__title {
  margin-bottom: 40px;
  color: #212121;
  text-align: center;
  font-size: 46px;
  letter-spacing: 1.08px;
}

@media screen and (min-width: 768px) {
  .features__list {
    display: flex;
    justify-content: space-evenly;
  }
}

.features__item {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  border-radius: 6px;
  overflow: hidden;
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}
@media screen and (max-width: 767px) {
  .features__item {
    margin-bottom: 36px;
    max-width: 480px;
  }
  .features__item:last-child {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .features__item {
    width: 220px;
  }
  .features__item .features__item-text {
    display: none;
  }
}
.features__item:hover {
  transform: scale(1.02);
  cursor: pointer;
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
  background-color: #18a0fb;
}

.features__item-title {
  margin: 8px 0;
}

.features__item-text {
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 16px;
}

.features__item-img {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .features__item-img {
    width: 220px;
  }
}
@media screen and (min-width: 1280px) {
  .features__item-img {
    width: 320px;
  }
}

.magazine {
  padding-top: 20px;
  padding-bottom: 60px;
}

.magazine__title {
  margin-bottom: 40px;
  color: #212121;
  text-align: center;
  font-size: 46px;
  letter-spacing: 1.08px;
}

.grid {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -8px;
  margin-right: -8px;
  margin-bottom: -16px;
  margin-top: 0;
}

.grid__item {
  min-width: 240px;
  margin-right: 8px;
  margin-left: 8px;
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .grid__item {
    flex-basis: calc(50% - 16px);
  }
}
@media screen and (min-width: 1280px) {
  .grid__item {
    flex-basis: calc(33.3333333333% - 16px);
  }
}

.product {
  text-align: center;
  position: relative;
  padding: 16px;
  border-radius: 8px;
  background-color: #18a0fb;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.product:hover {
  transform: scale(1.03);
  background-color: rgba(47, 48, 58, 0.8235294118);
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.7), 0px 1px 1px 0px rgba(0, 0, 0, 0.6), 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
}

.product__name {
  margin-top: 16px;
  margin-bottom: 8px;
}

.product__price {
  margin: 0;
}

.product__button {
  position: absolute;
  top: 16px;
  right: 16px;
}

.button {
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-family: sans-serif;
  font-size: 16px;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.button__icon {
  display: inline-flex;
}

.technology {
  padding-top: 40px;
  padding-bottom: 60px;
  background-color: rgba(47, 48, 58, 0.093);
}

.technology__title {
  margin-bottom: 40px;
  color: #212121;
  text-align: center;
  font-size: 46px;
  letter-spacing: 1.08px;
}

@media screen and (min-width: 768px) {
  .technology__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .technology__list {
    justify-content: center;
    margin: -18px;
  }
}

.technology__item {
  min-width: 125px;
  text-align: center;
  font-size: 22px;
  padding: 10px 20px;
  background-color: rgba(47, 48, 58, 0.8235294118);
  color: #fff;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .technology__item {
    margin-top: 16px;
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .technology__item {
    width: 200px;
    margin: 18px;
  }
}
.technology__item:hover {
  background-color: #18a0fb;
  color: #fff;
  cursor: pointer;
}

.gallery {
  padding-top: 40px;
  padding-bottom: 60px;
}

.gallery__title {
  margin-bottom: 40px;
  color: #212121;
  text-align: center;
  font-size: 46px;
  letter-spacing: 1.08px;
}

@media screen and (min-width: 768px) {
  .gallery__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.gallery__img {
  width: 350px;
  height: 300px;
}
@media screen and (max-width: 767px) {
  .gallery__img {
    width: 100%;
    height: 300px;
    margin-bottom: 16px;
  }
  .gallery__img:last-child {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .gallery__img:last-child {
    margin-top: 16px;
  }
}

.video {
  padding-top: 40px;
  padding-bottom: 60px;
  /* background-color: rgba(47, 48, 58, 0.093); */
}

.video__title {
  margin-bottom: 40px;
  color: #212121;
  text-align: center;
  font-size: 46px;
  letter-spacing: 1.08px;
}

.video__film {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 1279px) {
  .video__film {
    width: 100%;
  }
}

.video__mp3 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

@media screen and (max-width: 767px) {
  .fabregas {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/mob_fabr.png);
    background-size: cover;
    background-position: center;
  }
}

.fabregas__container {
  padding-top: 40px;
  padding-bottom: 60px;
  height: 100%;
  background-size: cover;
  background-position: center;
}
@media screen and (min-width: 768px) {
  .fabregas__container {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/Fabregas.jpg);
    min-height: 700px;
  }
}

.fabregas__title {
  margin-bottom: 25px;
  color: #fff;
  text-align: center;
  font-size: 46px;
  letter-spacing: 1.08px;
}

.fabregas__text {
  max-width: 600px;
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.42px;
}

.forms {
  padding-top: 40px;
  padding-bottom: 60px;
  background-color: rgba(47, 48, 58, 0.093);
}

.forms__title {
  margin-bottom: 40px;
  color: #212121;
  text-align: center;
  font-size: 46px;
  letter-spacing: 1.08px;
}

.forms__item {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 0 auto;
}

.forms__input {
  padding: 8px;
  font-family: inherit;
}

.forms__label {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.forms__textaria {
  resize: none;
}

.forms-btn {
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  display: inline-flex;
  padding: 12px 32px;
  border: none;
  border-radius: 4px;
  background-color: #18a0fb;
  color: #fff;
  width: 200px;
  cursor: pointer;
}

.footer {
  background-color: #18a0fb;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.chat-button {
  position: fixed;
  left: 50px;
  bottom: 50px;
  display: inline-block;
  width: 64px;
  height: 64px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  background-image: url("https://cdn-icons-png.flaticon.com/512/1653/1653630.png");
  background-size: contain;
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */