:root {
  --primary-text-color: rgba(0, 0, 0, 0.8);
  --title-text-color: #000000;
  --accent-color: #18a0fb;
  --primary-white-color: #ffffff;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: -0.015em;
  font-size: 18px;
  line-height: 1.67;
  background-color: #f9f9fd;
}

li {
  list-style: none;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

h2 {
  margin-top: 0;
  font-size: 50px;
  color: #0a186a;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.chat-button {
  position: fixed;
  right: 50px;
  bottom: 50px;

  display: inline-block;
  width: 64px;
  height: 64px;

  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  background-image: url("https://cdn-icons-png.flaticon.com/512/1653/1653630.png");
  background-size: contain;

  cursor: pointer;
}

.list {
  list-style: none;
}

.container {
  width: 1230px;
  margin: 0 auto 50px;
  padding-left: 15px;
  padding-right: 15px;
}

.header-nav {
  /* position: fixed;
  margin: 0;
  width: 1200px;
  top: 0;
  z-index: 999; */

  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(48, 142, 224, 0.497);
  padding: 10px 15px;
  border-radius: 4px;
}

.header-nav_link {
  display: flex;
}

.header-nav_link li a {
  min-width: 100px;
  text-align: center;
  display: block;
  background-color: #329be0;
  padding: 5px;
  margin-left: 10px;
  border-radius: 4px;
}

.header-nav_link li a:hover {
  background-color: #ffffff;
  color: #18a0fb;
}

.header-nav_link li a {
  color: white;
}

.feather {
  display: flex;
  justify-content: space-between;
}

.container h2 {
  text-align: center;
}

.feather__list {
  width: 320px;
}

.feather__list h3 {
  text-align: center;
}

.technology {
  display: flex;
  justify-content: space-between;
}

.technology li {
  min-width: 125px;
  text-align: center;
  font-size: 22px;
  padding: 10px 20px;
  background-color: #329be0;
  color: aliceblue;
  border-radius: 4px;
}

.technology li:hover {
  background-color: yellow;
  color: rgb(13, 133, 239);
  cursor: pointer;
}

.container div {
  display: flex;
  justify-content: space-between;
}

.container .vid {
  flex-direction: column;
  align-items: center;
}

.vid audio {
  margin-top: 30px;
  margin-bottom: 30px;
}

.container.form {
  width: 1200px;
  /* background-color: rgba(48, 142, 224, 0.497); */
}

.fabr {
  margin-left: auto;
  margin-right: auto;
}

form {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 0 auto;
}

input {
  padding: 8px;
  font-family: inherit;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

textarea {
  resize: none;
}

.btn-sub {
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  display: inline-flex;
  padding: 12px 32px;
  border: none;
  border-radius: 4px;
  background-color: #2196f3;
  color: #fff;
  width: 200px;
  font-size: inherit;
  cursor: pointer;
  margin-bottom: 20px;
}

/* ==================================== */
.section {
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: #3f51b5;
}

.section__heading {
  margin-top: 0;
  margin-bottom: 16px;
  color: #fff;
}

/* container component */
.container {
  max-width: 1140px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* grid component */
.grid {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -8px;
  margin-right: -8px;
  margin-bottom: -16px;
  margin-top: 0;
}

.grid__item {
  flex-basis: calc(100% / 3 - 16px);
  min-width: 240px;
  margin-right: 8px;
  margin-left: 8px;
  margin-bottom: 16px;
}

/* product component */
.product {
  position: relative;
  padding: 16px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.product__name {
  margin-top: 0;
  margin-bottom: 8px;
}

.product__price {
  margin: 0;
}

.product__button {
  position: absolute;
  top: 5px;
  right: 5px;
}

/* button component */
.button {
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-family: sans-serif;
  font-size: 16px;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.button__icon {
  display: inline-flex;
}

.button__icon--start {
  margin-right: 10px;
}

.button__icon--end {
  margin-left: 10px;
}

.fot {
  display: block;
  padding: 30px 0;
  background-color: #18a0fb;
  text-align: center;
  border-radius: 4px;
  margin: 0;
}
