.up-button {
  background-image: url('../image/up-button.png');
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 64px;
  height: 64px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  opacity: 0;
  transition: opacity 1000ms linear;

  cursor: pointer;

  border-radius: 50%;
  border: none;
}

.up-button--visible {
  z-index: 100;
  display: block;
  opacity: 1;
}
