body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: -0.015em;
  font-size: 18px;
  line-height: 1.67;
  background-color: $white-bkg-clr;
}

// html {
//   overflow-y: scroll;
//   scroll-behavior: smooth;
// }

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  display: block;
  font-style: normal;
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
