<section class="fabregas" id="Ceck">
  <div class="fabregas__container">
    <h2 class="fabregas__title">Сеск Фабрегас</h2>
    <p class="fabregas__text">
      Упродовж 20 років кар'єри на вищому рівні я з невеликим острахом чекав того дня, коли мені
      доведеться повісити бутси на цвях. Але у тренерстві я знайшов свою пристрасть. Це змушує мене
      дивитися на гру зовсім по-новому, і це робить перехід у життя після гри трохи легшим. Я вперше
      почав думати про те, щоб стати тренером, коли мені виповнилося 30 років. Через три роки я грав
      за Монако, коли настав карантин через коронавірус. У Франції ліга припинилася повністю. Раптом
      я опинився прикутим до дому, маючи багато вільного часу. Я провів чотири місяці вдома, тож
      присвятив себе вивченню нового та покращенню свого бачення гри. СЕСК ФАБРЕГАС, GETTY IMAGES Я
      багато дивився футбол і досі це роблю. Я одержимий грою. Кожен день я дивлюся два-три матчі. Я
      аналізував ігри, які ми грали в Комо. Що б я зробив, якби був тренером? Як би грала моя
      команда і як би я реагував на певні ситуації? Я намагаюся телефонувати людям, які давно в грі.
      Моя мета — вдосконалюватися. Я хочу брати ідеї від людей навколо мене. Це те, чим я справді
      захоплений. У своїй кар'єрі гравця я працював під керівництвом Арсена Венгера, Пепа Гвардіоли,
      Жозе Моурінью, Антоніо Конте, Луїса Арагонеса та Вісенте дель Боске. Мені дуже пощастило
    </p>
  </div>
</section>
