<section class="features" id="Features">
  <div class="features__container">
    <h2 class="features__title">Features</h2>
    <ul class="features__list">
      <li class="features__item">
        <img
          class="features__item-img"
          src="https://cdn.pixabay.com/photo/2015/09/09/19/56/office-932926_1280.jpg"
          alt="Workplace in the company"
          width="320"
        />
        <h3 class="features__item-title">Experience</h3>
        <p class="features__item-text">
          Eius repellendus voluptates sequi natus accusantium adipisci ratione laborum sunt, modi
          nemo?
        </p>
      </li>
      <li class="features__item">
        <img
          class="features__item-img"
          src="https://cdn.pixabay.com/photo/2015/05/31/10/55/man-791049_1280.jpg"
          alt="A man holds a tablet in his hands and drinks coffee"
          width="320"
        />
        <h3 class="features__item-title">Technology stack</h3>
        <p class="features__item-text">
          Eius repellendus voluptates sequi natus accusantium adipisci ratione laborum sunt, modi
          nemo?
        </p>
      </li>
      <li class="features__item">
        <img
          class="features__item-img"
          src="https://cdn.pixabay.com/photo/2015/09/09/19/56/office-932926_1280.jpg"
          alt="Four hands in a gesture of mutual assistance"
          width="320"
        />
        <h3 class="features__item-title">Support</h3>
        <p class="features__item-text">
          Eius repellendus voluptates sequi natus accusantium adipisci ratione laborum sunt, modi
          nemo?
        </p>
      </li>
    </ul>
  </div>
</section>
