<section class="gallery" id="Img">
  <div class="gallery__container">
    <h2 class="gallery__title">Gallery</h2>
    <div class="gallery__wrapper">
      <img
        class="gallery__img"
        src="https://loremflickr.com/640/320"
        alt="Довільна картинка від генератора"
        width="540"
        height="320"
      />

      <img
        class="gallery__img"
        src="https://loremflickr.com/320/240/dog"
        alt="Довільна картинка від генератора"
        width="540"
        height="320"
      />

      <a href="https://www.pexels.com/photo/animals-sweet-cat-kitty-57416/">
        <img
          class="gallery__img"
          src="https://images.pexels.com/photos/57416/cat-sweet-kitty-animals-57416.jpeg?w=640"
          alt="Рудий кіт"
          width="540"
          height="320"
        />
      </a>
    </div>
  </div>
</section>
