<header class="header" id="top">
  <div class="header__container">
    <a href="/">
      <img src="./image/logo.png" alt="logo" width="44" />
    </a>

    <nav class="header__site-nav">
      <ul class="header__menu">
        <li class="header__list">
          <a class="header__link scrollto" href="#Features">Features</a>
        </li>
        <li class="header__list">
          <a class="header__link scrollto" href="#Mazgazine">Products</a>
        </li>
        <li class="header__list">
          <a class="header__link scrollto" href="#Our">Our stack</a>
        </li>
        <li class="header__list">
          <a class="header__link scrollto" href="#Img">Gallery</a>
        </li>
        <li class="header__list">
          <a class="header__link scrollto" href="#Video">Video</a>
        </li>
        <li class="header__list">
          <a class="header__link scrollto" href="#Ceck">Fabregas</a>
        </li>
        <li class="header__list">
          <a class="header__link scrollto" href="#Form">Forms</a>
        </li>
      </ul>
    </nav>

    <button type="button" class="mobile-menu__btn">
      <svg width="40" height="40" aria-label="Кнопка мобільного меню">
        <use class="mobile-menu__icon--open" href="./image/icon.svg#menu-icon-open"></use>
        <use class="mobile-menu__icon--close" href="./image/icon.svg#menu-icon-close"></use>
      </svg>
    </button>
  </div>

  <a class="up-button" href="#top"></a>
</header>
