<section class="technology" id="Our">
  <div class="technology__container">
    <h2 class="technology__title">Our technology stack</h2>
    <ul class="technology__list">
      <li class="technology__item">HTML</li>
      <li class="technology__item">JavaScript</li>
      <li class="technology__item">CSS</li>
      <li class="technology__item">React</li>
      <li class="technology__item">Next.js</li>
      <li class="technology__item">Node.js</li>
      <li class="technology__item">PostgreSQL</li>
    </ul>
  </div>
</section>
